body{
    margin: 0 auto;
}
h1{
    display: inline-block;
    color: white;
    margin-left: 50px;
    position: absolute;
    margin-top: 28px;
    font-size: 30px;
}
.black2{
    color: inherit;
}
ul{
    display: inline-block;
    margin-left: 150px;
    margin-top: 40px; 
}
li{
    display: inline-block;
}
a{
    text-decoration: none;
    color: grey;
    margin-right: 30px;
}
.black, .blue, .grey{
    width: 100%;
    height: 100px;
    margin-bottom: 50px;
}
.black{
    background: black;
}
.blue{
    background-color: blue;
}
.grey{
    background-color: rgb(235, 236, 226);
}